

<div class="container-scroller">
    <site-nav></site-nav>

        <div class="container-fluid page-body-wrapper">


            <site-nav2></site-nav2>
            <div class="main-panel" >
                <div class="content-wrapper">
<router-outlet></router-outlet>
</div>
<site-footer></site-footer>

</div>

</div>

</div>
<footer-scripts></footer-scripts>
