
<div class="row">

    <form  (submit)="order_by_date($event)" class="form-inline">
      <div class="form-group">



        <label for="from">From</label>
        <input type="date" class="form-control" id="from" name="from" placeholder="YYYY-mm-dd" [(ngModel)]="from">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">To</label>
        <input type="date" class="form-control" id="to" name="to" placeholder="YYYY-mm-dd" [(ngModel)]="to">
      </div>
      <input type="submit" class="btn btn-info" value="Show Orders">
    </form>




</div>
<br>
<hr>


<div class="container">
<!-- <div  *ngIf="orders?.length > 0"></div> -->
<div class="row">
      <mat-tab-group>
          <mat-tab label="Completed Orders">



              <div style="overflow-x: scroll;" *ngIf="orders?.length > 0">
                  <mat-toolbar color="primary">
                      <span> {{ orders.length }} - Completed Orders </span>
                      <span class="example-fill-remaining-space"></span>
                      </mat-toolbar>
                <table datatable [dtOptions]="dtOptions"  class="table-bordered table-hover table-fixed" >
                    <thead>
                      <tr>
                          <th>Order Id</th>
                          <th>Product Name</th>
                          <th>SKU</th>
                          <th>Principal</th>
                          <th>Tax</th>
                          <th>GiftWrap</th>
                          <th>GiftWrapTax</th>
                          <th>ShippingCharge</th>
                          <th>ShippingTax</th>
                          <th>TCS_IGST</th>
                          <th>TCS_CGST</th>
                          <th>TCS_SGST</th>
                          <th>FBADeliveryServicesFee</th>
                          <th>FBAPerUnitFulfillmentFee</th>
                          <th>FBAWeightBasedFee</th>
                          <th>TechnologyFee</th>
                          <th>Commission</th>
                          <th>FixedClosingFee</th>
                          <th>GiftwrapChargeback</th>
                          <th>ShippingChargeback</th>
                          <th>VariableClosingFee</th>
                          <th>promotional_rebates</th>
                          <th>QuantityShipped</th>
                          <th>PostedDate</th>

                      </tr>
                    </thead>
                    <tbody>
                  <tr *ngFor="let item of orders">
                    <td >{{item.Orderid}}</td>
                  <td>{{item.item_name}}</td>
                  <td>{{item.SellerSKU}}</td>
                  <td>{{item.Principal}}</td>
                  <td>{{item.Tax}}</td>
                  <td>{{item.GiftWrap}}</td>
                  <td>{{item.GiftWrapTax}}</td>
                  <td>{{item.ShippingCharge}}</td>
                  <td>{{item.ShippingTax}}</td>
                  <td>{{item.TCS_IGST}}</td>
                  <td>{{item.TCS_CGST}}</td>
                  <td>{{item.TCS_SGST}}</td>
                  <td>{{item.FBADeliveryServicesFee}}</td>
                  <td>{{item.FBAPerUnitFulfillmentFee}}</td>
                  <td>{{item.FBAWeightBasedFee}}</td>
                  <td>{{item.TechnologyFee}}</td>
                  <td>{{item.Commission}}</td>
                  <td>{{item.FixedClosingFee}}</td>
                  <td>{{item.GiftwrapChargeback}}</td>
                  <td>{{item.ShippingChargeback}}</td>
                  <td>{{item.VariableClosingFee}}</td>
                  <td>{{item.promotional_rebates}}</td>
                  <td>{{item.QuantityShipped}}</td>
                  <td>{{item.dateonly_PostedDate}}</td>


                  </tr>
                  </tbody>

                  </table>

                  </div>

          </mat-tab>
          <mat-tab label="Cancelled Orders">

              <div style="overflow-x: scroll;" *ngIf="cancelled_orders?.length > 0">
                  <mat-toolbar color="primary">
                      <span> {{ cancelled_orders.length }} - Cancelled Orders </span>
                      <span class="example-fill-remaining-space"></span>
                      </mat-toolbar>
                <table datatable [dtOptions]="dtOptions"  class="table-bordered table-hover table-fixed" width=100% >
                    <thead>
                      <tr>
                          <th>Order Type</th>
                          <th>Purchase Date</th>
                          <th>Cancel Date</th>
                          <th>Amazon Order ID</th>
                          <th>Ship Service Level</th>
                          <th>Business Order</th>
                          <th>Payment Method</th>
                          <th>Fullfillment Channel</th>
                          <th>Prime Order</th>
                          <th>Shipment Service Level</th>

                      </tr>
                    </thead>
                    <tbody>
                  <tr *ngFor="let item of cancelled_orders">
                    <td >{{item.OrderType}}</td>
                  <td>{{item.PurchaseDate}}</td>
                  <td>{{item.LastUpdateDate}}</td>
                  <td>{{item.AmazonOrderId}}</td>
                  <td>{{item.ShipServiceLevel}}</td>
                  <td>{{item.IsBusinessOrder}}</td>
                  <td>{{item.PaymentMethod}}</td>
                  <td>{{item.FulfillmentChannel}}</td>
                  <td>{{item.IsPrime}}</td>
                  <td>{{item.ShipmentServiceLevelCategory}}</td>


                  </tr>
                  </tbody>

                  </table>

                  </div>

          </mat-tab>
          <mat-tab label="Pending Orders">


            <div style="overflow-x: scroll;" *ngIf="pending_orders?.length > 0">
                <mat-toolbar color="primary">
                    <span> {{ pending_orders.length }} - Pending Orders </span>
                    <span class="example-fill-remaining-space"></span>
                    </mat-toolbar>
              <table datatable [dtOptions]="dtOptions"  class="table-bordered table-hover table-fixed" width=100% >
                  <thead>
                    <tr>
                        <th>Order Type</th>
                        <th>Purchase Date</th>
                        <th>Cancel Date</th>
                        <th>Amazon Order ID</th>
                        <th>Ship Service Level</th>
                        <th>Business Order</th>
                        <th>Payment Method</th>
                        <th>Fullfillment Channel</th>
                        <th>Prime Order</th>
                        <th>Shipment Service Level</th>

                    </tr>
                  </thead>
                  <tbody>
                <tr *ngFor="let item of pending_orders">
                  <td >{{item.OrderType}}</td>
                <td>{{item.PurchaseDate}}</td>
                <td>{{item.LastUpdateDate}}</td>
                <td>{{item.AmazonOrderId}}</td>
                <td>{{item.ShipServiceLevel}}</td>
                <td>{{item.IsBusinessOrder}}</td>
                <td>{{item.PaymentMethod}}</td>
                <td>{{item.FulfillmentChannel}}</td>
                <td>{{item.IsPrime}}</td>
                <td>{{item.ShipmentServiceLevelCategory}}</td>


                </tr>
                </tbody>

                </table>

                </div>
 </mat-tab>

 <mat-tab label="Refunds">
  <div style="overflow-x: scroll;" *ngIf="refunds?.length > 0">
      <mat-toolbar color="primary">
          <span> {{ refunds.length }} - Refunds </span>
          <span class="example-fill-remaining-space"></span>
          </mat-toolbar>
    <table datatable [dtOptions]="dtOptions"  class="table-bordered table-hover table-fixed" >
        <thead>
          <tr>
              <th>Order Id</th>
              <th>Product Name</th>
              <th>SKU</th>
              <th>Principal</th>
              <th>Tax</th>
              <th>ShippingCharge</th>
              <th>ShippingTax</th>
              <th>TCS_IGST</th>
              <th>TCS_CGST</th>
              <th>TCS_SGST</th>
              <th>Commission</th>
              <th>FixedClosingFee</th>
              <th>promotional_rebates</th>
              <th>PostedDate</th>

          </tr>
        </thead>
        <tbody>
      <tr *ngFor="let item of refunds">
        <td>{{item.Orderid}}</td>
      <td>{{item.item_name}}</td>
      <td>{{item.SellerSKU}}</td>
      <td>{{item.Principal}}</td>
      <td>{{item.Tax}}</td>
      <td>{{item.ShippingCharge}}</td>
      <td>{{item.ShippingTax}}</td>
      <td>{{item.TCS_IGST}}</td>
      <td>{{item.TCS_CGST}}</td>
      <td>{{item.TCS_SGST}}</td>
      <td>{{item.Commission}}</td>
      <td>{{item.FixedClosingFee}}</td>
      <td>{{item.promotional_rebates}}</td>
      <td>{{item.dateonly_PostedDate}}</td>


      </tr>
      </tbody>

      </table>

      </div>

</mat-tab>
          </mat-tab-group>
</div>
</div>
