<div class="container">
  <form  (submit)="product_profitability($event)" class="form-inline">
    <div class="form-group">

        <input type="text" ngxDaterangepickerMd
        (rangeClicked)="rangeClicked($event)"
        (datesUpdated)="datesUpdated($event)"
        [showCustomRangeLabel]="true"
        [alwaysShowCalendars]="true"
        [ranges]="ranges"
        [linkedCalendars]="true"
        [showClearButton]="true"
        [isInvalidDate] = "isInvalidDate"
        [(ngModel)]="selected"
        [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
        [showRangeLabelOnInput]="showRangeLabelOnInput"
        class="form-control mr-2"
        placeholder="Click to select date"
        >



    </div>

    <input type="submit" class="btn btn-success" value="Show Orders" style="z-index: 9999;">
  </form>




</div>
<br>
<hr>





      <div class="col-lg-12 grid-margin stretch-card" *ngIf="orders?.length > 0">

          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">Orders Data</h4>
                  <div class="table-responsive">
<table  class="table table-bordered table-hover"  width=100%>
  <tr>

    <td><div class="alert alert-primary" role="alert"> <span>Shipped : {{ shipped_orders }}</span> </div></td>
    <td><div class="alert alert-primary" role="alert"> <span>Cancelled : {{ cancelled_orders }}</span> </div></td>
    <td><div class="alert alert-primary" role="alert"> <span>Returns : {{ returns.length }}</span> </div></td>
    <td><div class="alert alert-primary" role="alert"> <span>Return Percentage : {{ return_percent}}%</span> </div></td>


        </tr> </table>


        <table  class="table table-bordered table-hover"  width=100%>
            <tr>
              <td><div class="alert alert-success" role="alert"> <span>Orders Total : ₹{{ order_sum }}</span> </div></td>
              <td><div class="alert alert-success" role="alert"> <span>Returns Total : ₹{{ ret_sum }}</span> </div></td>
              <td><div class="alert alert-success" role="alert"> <span>Receivable Amount : ₹{{ expected_rec_amt}}</span> </div></td>


                  </tr> </table>

</div>
      <mat-tab-group>






          <mat-tab label="Completed Orders">



              <div style="overflow-x: scroll;" *ngIf="orders?.length > 0">

                <table datatable [dtOptions]="dtOptions"   class="table table-bordered table-hover"  width=100% >
                    <thead>
                      <tr>
                          <th>Order Id</th>
                          <th>Purchase Date</th>
                          <!-- <th>Product Name</th> -->
                          <th>SKU</th>
                          <th>ASIN</th>
                          <th>Quantity Shipped</th>
                          <th>Sale Amount</th>
                          <th>Input Credit</th>
                          <th>GST Payable</th>
                          <th>Settlement Amount</th>


                      </tr>
                    </thead>
                    <tbody>
                  <tr *ngFor="let item of orders">
                    <td >{{item.Orderid}}</td>
                  <td>{{item.purchase_date}}</td>
                  <!-- <td>{{item.item_name}}</td> -->
                  <td>{{item.SellerSKU}}</td>
                  <td>{{item.asin}}</td>
                  <td>{{item.qty_ordered}}</td>
                  <td>{{item.sales_amt}}</td>
                  <td>{{item.input_credit}}</td>
                  <td>{{item.gst}}</td>
                  <td>{{item.settlement_amount}}</td>



                  </tr>
                  </tbody>

                  </table>

                  </div>

          </mat-tab>
          <mat-tab label="Returns">

              <div style="overflow-x: scroll;" *ngIf="returns?.length > 0">

                <table datatable [dtOptions]="dtOptions"   class="table table-bordered table-hover"  width=100%>
                    <thead>
                      <tr>
                        <th>Order Id</th>

                        <th>Product Name</th>
                        <th>SKU</th>
                        <th>ASIN</th>
                        <th>Quantity Shipped</th>
                        <th>Amount</th>

                      </tr>
                    </thead>
                    <tbody>
                  <tr *ngFor="let item of returns">
                    <td >{{item.Orderid}}</td>

                    <td>{{item.item_name}}</td>
                    <td>{{item.SellerSKU}}</td>
                    <td>{{item.asin}}</td>
                    <td>{{item.QuantityShipped}}</td>
                    <td>{{item.return_amount}}</td>


                  </tr>
                  </tbody>

                  </table>

                  </div>

          </mat-tab>

          </mat-tab-group>

</div>
</div>
</div>
