
<div class="row">

    <div class="col-md-10 offset-md-1"> <!-- outer div -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-statistics shadow">
          <div class="card-body">
            <div class="clearfix">
              <div class="text-center">
                <h3 class=""> <img class="img-xs rounded-circle" src="../../../../assets/dash/images/faces/face4.jpg" alt="Profile image"> Amazon</h3>
              </div>
              <div class="text-center">
                <div class="fluid-container">
                  <h3 class="font-weight-medium  mb-0">$65,650</h3>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <div class="col">
       <div class="card card-statistics shadow">
          <div class="card-body">
            <div class="clearfix">
              <div class="text-center">
                <h3 class=""> <img class="img-xs rounded-circle" src="../../../../assets/dash/images/faces/face2.jpg" alt="Profile image"> Flipkart</h3>
              </div>
              <div class="text-center">
                <div class="fluid-container">
                  <h3 class="font-weight-medium  mb-0">$65,650</h3>
                  <!-- <button class="btn btn-success">Connect</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
         <div class="card card-statistics shadow">
          <div class="card-body">
            <div class="clearfix">
              <div class="text-center">
                <h3 class=""> <img class="img-xs rounded-circle" src="../../../../assets/dash/images/faces/face3.jpg" alt="Profile image"> Shopify</h3>
              </div>
              <div class="text-center">
                <div class="fluid-container">
                  <h3 class="font-weight-medium  mb-0">$65,650</h3>
                  <!-- <button class="btn btn-success">Connect</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row m-t-40">
        <div class="col-12">
          <h3>Sales</h3>
        </div>
          <div class="card card-weather shadow col m-t-10">
            

          <canvas
              id="myChart"
              baseChart
              [chartType]="'line'"
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="true"
             >
          </canvas>
      </div>
          
        </div>
     
    </div>
      <div class="row  m-t-20">
        <div class="col-4 ">
           <div class="card card-statistics shadow text-center">
            <div class="card-body">
              <h3>Customers</h3>
              <p class="text-center">25</p>
            </div>
          </div>
          <div class="card card-statistics shadow text-center m-t-20">
            <div class="card-body" style="position: relative;">
              <h3>New Customers</h3>
               <img class="img-xs rounded-circle img-cascade" src="../../../../assets/dash/images/faces/face3.jpg" alt="Profile image">
               <img class="img-xs rounded-circle img-cascade" src="../../../../assets/dash/images/faces/face4.jpg" alt="Profile image">
               <img class="img-xs rounded-circle img-cascade" src="../../../../assets/dash/images/faces/face5.jpg" alt="Profile image">
               <img class="img-xs rounded-circle img-cascade" src="../../../../assets/dash/images/faces/face6.jpg" alt="Profile image">
               <img class="img-xs rounded-circle img-cascade" src="../../../../assets/dash/images/faces/face7.jpg" alt="Profile image">
            </div>
          </div>
        </div>
        <div class="col-4">
           <div class="card card-statistics shadow text-center">
          <div class="card-body">
            <h3>Sales and cancel</h3>
            <div class="chart-wrapper text-center">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
          </canvas>
          <p style="padding-top: 5px">Date: 15/12/2019</p>
        </div>
          </div>
        </div>
        </div>
        <div class="col-4">
           <div class="card card-statistics shadow text-center">
          <div class="card-body">
            <h3>Sales and return</h3>
             <div class="chart-wrapper">
            <canvas baseChart 
            [data]="doughnutChartData"
            [labels]="doughnutChartLabels"
            [chartType]="doughnutChartType">
          </canvas>
          <p style="padding-top: 5px">Date: 15/12/2019</p>
        </div>
          </div>
        </div>
        </div>
       
          
        </div>
        <div class="row m-t-20">
          <div class="col-4 ">
           <div class="card card-statistics shadow ">
            <div class="card-body">
              <h3 class="text-center">Today's Overview</h3>
              <div class="row m-t-20">
                <table class="table table-borderless">
                  <tr>
                    <td>Sales</td>
                    <td class="text-right">100</td>
                  </tr>
                  <tr>
                    <td>Sales Amount</td>
                    <td class="text-right">$ 150</td>
                  </tr>
                  <tr>
                    <td>Cancelation</td>
                    <td class="text-right"> 50</td>
                  </tr>
                  <tr>
                    <td>Cancelation Amount</td>
                    <td class="text-right">$ 50</td>
                  </tr>
                  <tr>
                    <td>Returned</td>
                    <td class="text-right"> 50</td>
                  </tr>
                  <tr>
                    <td>Returned Amount</td>
                    <td class="text-right">$ 50</td>
                  </tr>
                </table>
               
              </div>
            </div>
          </div>
        </div>
          <div class="col-8 ">
           <div class="card card-statistics shadow text-center">
            <div class="card-body">
              <h3>Few Transactions</h3>
              <table class="table table-bordered">
              <thead>
                <tr>
                  <th>
                    # Order Id
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Product Name
                  </th>
                  <th>
                    SKU
                  </th>
                  <th>
                    Amount
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="font-weight-medium">
                    1
                  </td>
                  <td>
                    Herman Beck
                  </td>
                  <td>
                    TV
                  </td>
                  <td >
                    SD456
                  </td>
                  <td>
                    $ 340
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-medium">
                    2
                  </td>
                  <td>
                    Messsy Adam
                  </td>
                  <td>
                    AC
                  </td>
                  <td > AC9876
                    
                  </td>
                  <td>
                    $245.30
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-medium">
                    3
                  </td>
                  <td>
                    John Richards
                  </td>
                  <td>
                    Mobile
                  </td>
                  <td > MB567
                  </td>
                  <td>
                    $138.00
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-medium">
                    4
                  </td>
                  <td>
                    Peter Meggik
                  </td>
                  <td>
                    Laptop
                  </td>
                  <td >LP6543
                  </td>
                  <td>
                    $ 77.99
                  </td>
                </tr>
                <tr>
                  <td class="font-weight-medium">
                    5
                  </td>
                  <td>
                    Edward
                  </td>
                  <td>
                    Camera
                  </td>
                  <td > CM7654
                  </td>
                  <td>
                   $ 160.25
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
          </div>
        </div>
        </div>
        <div class="row m-t-40">
          <div class="col-12">
           <h3>Tips</h3> 
          </div>
          <div class="col-6 m-t-20">
            <div class="card card-statistics shadow">
            <div class="card-body">
              <h4>Heading</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
          </div>
          <div class="col-6 m-t-20">
            <div class="card card-statistics shadow">
            <div class="card-body">
              <h4>Heading</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
          </div>
          </div>
        </div>
  </div>


  
</div> <!-- outer div -->
  



