


  <div class="col-lg-12 grid-margin stretch-card" >

      <div class="card">
        <div class="card-body">

            <button type="button" (click)="GetInventory_comp()"  class="btn btn-success" style="float: right;">Refresh Inventory</button>
            <h4 class="card-title">Inventory</h4>

            <div class="table-responsive" *ngIf="inventory?.length > 0">
    <table datatable [dtOptions]="dtOptions"   class="table table-bordered table-hover"   width=100% >
        <thead>
    <tr>


        <th style="width: 10%">SKU</th>
        <th style="width: 10%">ASIN</th>
        <th style="width: 10%">Price</th>

        <th style="width: 10%">Cost Price</th>
 <th style="width: 10%">Quanitiy Avilable</th>
        <th style="width: 10%">Status</th>
        <th style="width: 10%">Open Date</th>
        <th style="width: 10%">Name</th>
        <th style="width: 20%">Description</th>


    </tr>
  </thead>
  <tbody>
<tr *ngFor="let item of inventory; let i = index;">


<td>{{item.seller_sku}}</td>
<td>{{item.asin1}}</td>
<td>{{item.price}}</td>

<input type="hidden" [(ngModel)]=item.seller_sku>
<td>
<input type="number"  [(ngModel)]="item.cost_price" #cp style="border-radius: 3px;width: 11.5em;margin: 6px;padding: 0px;">

<button (click)="update_cost(item.seller_sku,cp.value)"  class="btn-xs btn-success">Update</button></td>
  <td>{{item.quantity}}</td>
<td>{{item.status}}</td>

<td>{{item.open_date}}</td>

<td>{{item.item_name}}</td>
<td>{{item.item_description}}</td>

</tr>
</tbody>

</table>
</div>
</div>
</div>
</div>
