@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* @import "~bootstrap/dist/css/bootstrap.css"; */
/* @import "~datatables.net-bs4/css/dataTables.bootstrap4.css"; */
/* @import url("https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"); */
table, td, th {
  font-size: 12px;
  /* border: 1px solid black; */

  }

  table.winner-table {


  table-layout:fixed;

  text-align:left;

  vertical-align:top;

  padding: 5px;

  }

  table.winner-table tr {

  vertical-align:top;

  text-align:left;
  font-size: 12px;
  }

  table.winner-table td.city-table,

  table.winner-table th.city-table {

  width: 100px;

  }

  /* table.winner-table td.city-url,

  table.winner-table th.city-url {

  width: 400px;

  word-wrap: break-word;

  } */
