<div class="row">

    <form  (submit)="payment_by_date($event)" class="form-inline">
      <div class="form-group">



        <label for="from">From</label>
        <input type="date" class="form-control" id="from" name="from" placeholder="YYYY-mm-dd" [(ngModel)]="from">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail2">To</label>
        <input type="date" class="form-control" id="to" name="to" placeholder="YYYY-mm-dd" [(ngModel)]="to">
      </div>
      <input type="submit" class="btn btn-info" value="Show Orders">
    </form>




</div>
<br>
<hr>



<div style="overflow-x: scroll;" *ngIf="payment?.length > 0">

  <table datatable [dtOptions]="dtOptions"  class="table-bordered table-hover table-fixed" >
      <thead>
        <tr>
            <th>Order Id</th>
            <th>SKU</th>
            <th>Principal</th>
            <th>Tax</th>
            <th>ShippingCharge</th>
            <th>ShippingTax</th>
            <th>Settlement Amount</th>

        </tr>
      </thead>
      <tbody>
    <tr *ngFor="let item of payment">
      <td >{{item.Orderid}}</td>
    <td>{{item.SellerSKU}}</td>
    <td>{{item.Principal}}</td>
    <td>{{item.Tax}}</td>
    <td>{{item.ShippingCharge}}</td>
    <td>{{item.ShippingTax}}</td>
    <td>{{item.settlemnt_amt}}</td>




    </tr>
    </tbody>

    </table>

    </div>
