<div class="row"><div class="col-md-6 grid-margin stretch-card">
	<div class="card">
	  <div class="card-body">
	    <h4 class="card-title">Personal Information</h4>
	    <!-- <p class="card-description"> Basic form elements </p> -->
	    <form class="forms-sample">
	      <div class="form-group">
	        <label for="name">Name</label>
	        <input type="text" class="form-control" id="name" placeholder="Name">
	      </div>
	      <div class="form-group">
	        <label for="email">Email address</label>
	        <input type="email" class="form-control" id="email" placeholder="Email">
	      </div>
	      <div class="form-group">
	        <label>Image upload</label>
	        <input type="file" name="img[]" class="file-upload-default">
	        <div class="input-group col-xs-12">
	          <input type="text" class="form-control file-upload-info" disabled="" placeholder="Upload Image">
	          <span class="input-group-append">
	            <button class="file-upload-browse btn btn-info" type="button">Upload</button>
	          </span>
	        </div>
	      </div>
	      <div class="form-group">
	        <label for="city">City</label>
	        <input type="text" class="form-control" id="city" placeholder="City">
	      </div>
	      <button type="submit" class="btn btn-success mr-2">Submit</button>
	      <button class="btn btn-light">Cancel</button>
	    </form>
	  </div>
	</div>
</div>
<div class="col-md-6 grid-margin stretch-card">
	<div class="card">
	  <div class="card-body">
	    <h4 class="card-title">Company Information</h4>
	    <!-- <p class="card-description"> Basic form elements </p> -->
	    <form class="forms-sample">
	      <div class="form-group">
	        <label for="companyname">Company Name</label>
	        <input type="text" class="form-control" id="companyname" placeholder="Company Name">
	      </div>
	      <div class="form-group">
	        <label for="companyaddress">Comapny address</label>
	        <input type="email" class="form-control" id="companyaddress" placeholder="Comapny Address">
	      </div>
	      <div class="form-group">
	        <label for="city">City</label>
	        <input type="text" class="form-control" id="city" placeholder="City">
	      </div>
	      <div class="form-group">
	        <label for="state">State</label>
	        <input type="text" class="form-control" id="state" placeholder="State">
	      </div>
	      <button type="submit" class="btn btn-success mr-2">Submit</button>
	      <button class="btn btn-light">Cancel</button>
	    </form>
	  </div>
	</div>
</div>
<div class="col-md-6 grid-margin stretch-card">
	<div class="card">
	  <div class="card-body">
	    <h4 class="card-title">Change Password</h4>
	    <!-- <p class="card-description"> Basic form elements </p> -->
	    <form class="forms-sample">
	      <div class="form-group">
	        <label for="currentpassword">Current Password</label>
	        <input type="password" class="form-control" id="currentpassword" placeholder="Current Password">
	      </div>
	      <div class="form-group">
	        <label for="newpassword">New Password</label>
	        <input type="password" class="form-control" id="newpassword" placeholder="New Password">
	      </div>
	      <div class="form-group">
	        <label for="retypepassword">Re-type Password</label>
	        <input type="password" class="form-control" id="retypepassword" placeholder="Re-type Password">
	      </div>
	      <button type="submit" class="btn btn-success mr-2">Change Password</button>
	    </form>
	  </div>
	</div>
</div>
</div>