
<div class="container">



  <form  (submit)="product_profitability($event)" class="form-inline">






      <input type="text" ngxDaterangepickerMd
      (rangeClicked)="rangeClicked($event)"
      (datesUpdated)="datesUpdated($event)"
      [showCustomRangeLabel]="true"
      [alwaysShowCalendars]="true"
      [ranges]="ranges"
      [linkedCalendars]="true"
      [showClearButton]="true"
      [isInvalidDate] = "isInvalidDate"
      [(ngModel)]="selected"
      [keepCalendarOpeningWithRange]="keepCalendarOpeningWithRange"
      [showRangeLabelOnInput]="showRangeLabelOnInput"
      class="form-control mr-2"
      placeholder="Click to select date"
      >




    <input type="submit" class="btn btn-success" value="Show Orders" style="z-index: 9999;">

    </form>

</div>




<br>
<hr>




  <div class="col-lg-12 grid-margin stretch-card" *ngIf="orders?.length > 0">
    <div class="card">
      <div class="card-body">
          <h4 class="card-title">Product Profitability <span style="float: right;"><button class="btn btn-success btn-sm">Download</button></span></h4>



          <div class="table-responsive">
 <table datatable [dtOptions]="dtOptions"   class="table table-bordered table-hover"  width=100%>
                    <thead>
                      <tr>

                          <th>SKU</th>
                          <th>ASIN</th>
                          <th>Orders</th>
                          <th>Order Items</th>
                          <th>Product Sales</th>
                          <th>Reimbursed Quantity </th>
                          <th>Reimbursements </th>
                          <th>Returns</th>
                          <th>Return Percentage</th>
                          <th>Loss on Returned Order</th>
                          <th>GST Payable</th>
                          <th>Input Credit</th>
                          <th>Product Cost</th>
                          <th>Profit or Loss</th>
                          <th>Average profit or loss per unit</th>
                          <th>Profit/Loss(Order-Return)</th>



                      </tr>
                    </thead>
                    <tbody>
                  <tr *ngFor="let item of orders">

                    <td >{{item.sku}}</td>
                    <td >{{item.asin}}</td>
                  <td>{{item.shp_sku_count}}</td>
                  <td>{{item.shp_pdt_qty}}</td>
                  <td>{{item.shp_sku_amount}}</td>
                  <td>{{item.rem_sku_count}}</td>
                  <td>{{item.rem_sku_amount}}</td>
                  <td>{{item.ret_sku_count}}</td>
                  <td>{{item.return_percent}}%</td>
                  <td>{{item.ret_sku_amount}}</td>
                  <td>{{item.gst_sum}}</td>
                  <td>{{item.input_credit_sum}}</td>
                  <td>{{item.product_cost}}</td>
                  <td>{{item.profit_or_loss}}</td>
                  <td>{{item.avg_pl_per_sku}}</td>
                  <td *ngIf="item.sts == 'p'" style="background: #93f5b4" >{{item.pl}}</td>
                  <td *ngIf="item.sts == 'l'" style="background: #ff6363" >{{item.pl}}</td>
                  <td *ngIf="item.sts == 'e'" style="background: #69b9ff" >{{item.pl}}</td>





                  </tr>
                  </tbody>

                  </table>



</div>
</div>
</div>
</div>

