<div *ngIf="isLoading | async" class="overlay">
  <!-- <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value"> -->
  <mat-progress-bar mode="indeterminate" value="40"></mat-progress-bar>
  <!-- </mat-progress-spinner> -->
</div>
