<body  class="login-body">
<div class="modal-dialog text-centre">
  <div class="col-sm-8" id="main-section">
    <div class="modal-content">

      <div class="col-12 user-img">
        <img src="../../../assets/img/face.png" class="rounded mx-auto d-block" >

      </div>
              <form (submit)="login_c($event)" class="col-12">
                  <div class="form-group">
                  <input type="email" class="form-control" id="email" aria-describedby="registeredEmail" name="email" placeholder="Your email address" tabindex="1" [(ngModel)]="email">
                  </div>
                  <div class="form-group">
                  <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" tabindex="2" [(ngModel)]="password">
                  </div>
                  <hr>
                  <input type="submit" value="Login" class="btn btn-primary center-block"> <i class="fas fa-sign-in-alt"> </i>
                  <div >
                  <p>Need account? <a href="#">Register Now</a></p>

                  </div>
              </form>
              <div class="col-12 forgot">

        <a href="#">Forgot password?</a>
      </div>

    </div>

  </div>

</div>

</body>
<style>
/* You can add global styles to this file, and also import other style files */
html, body, app-root {
  height: 100%;
  margin: 0;
  }
  .login-body {
    position: fixed;
    min-width: 100%;
    background-image: url("assets/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    }


    .form-group{
    margin-top: 20px auto;

    padding: 0;


    }
    .input{
      lighting-color: ffffff;
    }



    .forgot{
    text-align: center;
      margin-top: 20px;
        padding:10px;

    }
    .fas
    {
      padding: 10px;
    }

    .btn{
      align-button: center;

    }

  </style>



<!-- <ul *ngFor="let Login of login_d">
<li>{{ Login.name }}</li>


</ul> -->
