      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas shadow" id="sidebar">
          <ul class="nav">
            <!-- <li class="nav-item nav-profile">
              <div class="nav-link">
                <div class="user-wrapper">
                  <div class="profile-image">
                    <img src="../../../../assets/dash/images/faces/face1.jpg" alt="profile image">
                  </div>
                  <div class="text-wrapper">
                    <p class="profile-name">Richard V.Welsh 12</p>
                    <div>
                      <small class="designation text-muted">Manager</small>
                      <span class="status-indicator online"></span>
                    </div>
                  </div>
                </div>

              </div>
            </li> -->
            <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="/orders">
                <i class="menu-icon mdi mdi-backup-restore"></i>
                <span class="menu-title">Orders</span>
              </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/inventory">
                <i class="menu-icon mdi mdi-backup-restore"></i>
                <span class="menu-title">Inventory</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/product-profitability">

                  <i class="menu-icon mdi mdi-chart-line"></i>
                  <span class="menu-title">Product Profitability</span>
                </a>
              </li>


              <li class="nav-item">
                <a class="nav-link" href="/order-analysis">

                    <i class="menu-icon mdi mdi-chart-line"></i>
                    <span class="menu-title">Order Form</span>
                  </a>
                </li>




            <!-- <li class="nav-item">
            <a class="nav-link" href="/payment">

                <i class="menu-icon mdi mdi-chart-line"></i>
                <span class="menu-title">Payment</span>
              </a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="menu-icon mdi mdi-table"></i>
                <span class="menu-title">SKU Mapping Sheet</span>
              </a>
            </li> -->

          </ul>
        </nav>
