.shadow {
  -webkit-box-shadow: 1px 1px 6px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    1px 1px 6px 3px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         1px 1px 6px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.fixed-top{
	z-index: 9999;
}
.navbar.default-layout .navbar-brand-wrapper {
	width: 180px !important;
}